<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
</head>
    <body>
        <h1><%= title %></h1>
        <% if(books.length > 0) { %>
            <ul>
                <% books.forEach(book => { %>
                    <li>
                        <strong>Title:</strong> <%= book.name %><br>
                        <strong>Author:</strong> <%= book.author %><br>
                        <strong>Price:</strong> <%= book.price %><br>
                    </li>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>No books found</p>
            <% } %>
            <a href="/library/books/create">Create</a>
            <a href="/">Home</a>
    </body>
</html>